
$main-color : rgb(77, 91, 105);
$text-color: #eee;
$side-color: rgba(220, 230, 240, 1);
$map-margin: 40px;

@mixin popup {
  background-color: $text-color;
  border: 2px solid transparentize($main-color, .5);
  border-radius: 4px;
  display: none;
  margin-left: 45px;
  position: absolute;
}

@mixin map-box {
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .65);
  text-shadow: 0 1px 3px rgba(255, 255, 255, .6);
  color: $main-color;  
}

body {
  background: $main-color;
  color: $text-color;
}

h4 {
  float: left;
  letter-spacing: .065em;
  margin: 5px 20px 5px 10px;
  padding: 5px;
  text-shadow: 1px 1px 3px #333;

  a {
    color: $text-color;

    &:hover {
      color: #fff;
    }
  }
}

#map {
  background: $side-color;
  bottom: $map-margin;
  left: 0;
  position: absolute;
  right: 0;
  top: $map-margin;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.leaflet-bar {
  a {
    color: $main-color;

    &:first-child {
      background: #fff;
      font-size: 18px;
    }

    &:last-of-type {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.leaflet-control {
  @include map-box;
}
.leaflet-control-attribution.leaflet-control {
  background:none;
  box-shadow:none
}

.leaflet-control-switcher-box {
  color: $main-color;
  display: none;
  padding: 5px;
  text-align: center;

  select {
    border: 1px solid $main-color;
    display: block;
    width: 200px;
  }
}

.leaflet-control-stats {
  @include map-box;
  padding: 5px;
  border-radius: 5px;    
  color: $main-color;
  display: none;
  font-size: 16px;
  text-shadow: 1px 1px 2px #fff;
}


.leaflet-sidebar {
  .close {
    background: $side-color;
    // border: 1px solid #ccc;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .65);
    color: $main-color;
    font-size: 20pt;
    height: 23px;
    left: -10px;
    opacity: 1;
    right: auto;
    top: 1px;
    width: 23px;
  }
}

#sidebar {
  background: $side-color;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  color: $main-color;
  overflow-y: auto;
  padding: 8px;
}

#slider-wrap {
  bottom: 0;
  height: $map-margin;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;

  #slider {
    visibility: hidden;
  }

  .slider-handle {
    background: #7d8b99;
    opacity: 1;
  }
}

#modal {
  z-index: 2000;

  .modal-content {
    border: 2px solid $text-color;
    border-radius: 0;
  }

  .modal-header {
    background: $main-color;
    color: #fff;
    font-weight: bold;

    .close {
      color: #fff;
      font-size: 2.5em;
      line-height: 1.2em;
      opacity: 1;
      text-shadow: none;
    }
  }

  .modal-body {
    padding: 12px;
    text-align: center;
  }
}

#credits .list-group-item.active {
  background: $main-color;
  color: #fff;
}

#social {
  padding: 8px;
  position: fixed;
  right: 220px;
  top: 0;
  z-index: 800;

  .fb-like {
    line-height: 12px;
  }
}

#copy {
  background: #424b54;
  border-radius: .7em;
  box-shadow: 0 0 8px $text-color;
  color: $text-color;
  opacity: .8;
  padding: 8px 8px 2px;
  position: fixed;
  right: 30px;
  top: -8px;
  z-index: 1000;

  a {
    color: #ccc;
    text-decoration: none;

    &:hover {
      color: #fff;
    }
  }
}

.leaflet-control-lang {
  width: auto;

  a {
    display: inline-block;
    float: left;
    font-weight: bold;

    // Be careful this part is very tricky with all the rounded corners ...
    // the only-child:border-bottom-right-radius is still buggy BTW
    &:only-child {
      border-radius: 4px;
    }

    &:not(:first-child):not(:last-child) {
      border-left: 1px solid $main-color;
      border-left-radius: 0;
    }

    &:last-child {
      border-left: 1px solid $main-color;
      border-radius: 0 4px 4px 0;
    }

    &:first-child {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:not(last-child) {
      font-size: 14px;
    }

    &.lang {
      display: none;
      width: 80px;
    }

    &:hover:not(:first-child) {
      background-color: $main-color;
      color: #eee;
      cursor: pointer;
    }
  }
}

#ribbon {
  border: 0;
  opacity: .8;
  position: absolute;
  right: 0;
  top: 0;
}


.formats {
  @include popup;
  width: 200px;

  a {
    background-color: $text-color;
    color: $main-color;
    cursor: pointer;
    display: block;
    font-weight: bold;
    height: 30px;
    padding: 3px;

    &:hover {
      background-color: $main-color;
      color: $text-color;
      text-decoration: none;
    }
  }
}

#export-format {
  background-color: $main-color;
  border-radius: 2px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  width: 750px;

  .actions {
    padding: 10px;
    text-align: center;
  }

  pre {
    margin: auto;
    padding: 0;
  }

  code {
    display: block;
    height: 400px;
    margin: 2px;
    overflow: auto;
    width: 730px;
  }

  h5 {
    color: $text-color;
    font-size: 20px;
    text-align: center;
  }

  a {
    background-color: $text-color;
    border: 1px solid $text-color;
    color: $main-color;
    font-weight: bold;
    padding: 2px 4px;
  }
}

#size-format {
  @include map-box;
  border-radius: 4px;
  padding: 4px;
  //color: white;
  display: none;
  font-size: 13px;
  font-weight: bold;
  height: 140px;
  line-height: 13px;
  width: 180px;

  h5 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .format-name {
    display: inline-block;
    white-space: nowrap;
    width: 70px;
  }

  .format-size {
    display: inline-block;
    text-align: right;
    width: 80px;
  }
}




