npm-debug.log
node_modules
vendor/bootstrap-slider/*
vendor/crumble/*
vendor/FileSaver.js/*
vendor/Font-Awesome/*
vendor/jquery-cookie/*
vendor/Leaflet.FileLayer/*
vendor/leaflet-sidebar/*
vendor/simplify-geometry/*
vendor/togeojson/*
vendor/togpx/*
vendor/tokml/*
vendor/geojson-to-path/*
vendor/pretty-data/*
vendor/jquery-autocomplete/*
vendor/i18next/*
vendor/leaflet-gpx/*
css/.sass-cache
*.swp
.grunt
_SpecRunner.html
TODO.md
