[submodule "FileSaver.js"]
	path = FileSaver.js
	url = https://github.com/eligrey/FileSaver.js.git
[submodule "Leaflet.FileLayer"]
	path = Leaflet.FileLayer
	url = https://github.com/makinacorpus/Leaflet.FileLayer.git
[submodule "togeojson"]
	path = togeojson
	url = https://github.com/mapbox/togeojson.git
[submodule "bootstrap-slider"]
	path = bootstrap-slider
	url = https://github.com/seiyria/bootstrap-slider.git
[submodule "jquery-cookie"]
	path = jquery-cookie
	url = https://github.com/carhartl/jquery-cookie.git
[submodule "leaflet-sidebar"]
	path = leaflet-sidebar
	url = https://github.com/Turbo87/leaflet-sidebar.git
[submodule "simplify-geometry"]
	path = simplify-geometry
	url = https://github.com/seabre/simplify-geometry.git
[submodule "togpx"]
	path = togpx
	url = https://github.com/tyrasd/togpx.git
[submodule "geojson-to-path"]
	path = geojson-to-path
	url = https://github.com/Wilkins/geojson-to-path.git
[submodule "tokml"]
	path = tokml
	url = https://github.com/mapbox/tokml.git
[submodule "pretty-data"]
	path = pretty-data
	url = https://github.com/Wilkins/pretty-data.git
