body {
	color:#eee;
	background: #4D5B69;
}
h4 {
	margin: 5px;
}
#map {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;	
}
.leaflet-control-zoom.leaflet-bar a {
	color: #4D5B69;
}
.leaflet-control-filelayer.leaflet-bar a:first-child,
.leaflet-control-down.leaflet-bar a:first-child {
	background: #fff;
	border-radius: 4px;
	border-radius: 4px;
	font-size: 18px;
	color: #4D5B69;
}
.leaflet-left.leaflet-bottom .leaflet-control-slider {
	margin: 0;
}
.leaflet-control-slider {
	background: rgba(255,255,255,0.8);
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);	
	width: 100%;
	padding: 10px 20px;
}
.slider-handle {
	opacity: 1;
	background: #4D5B69;
}


#copy {
	position:fixed;
	z-index:1000;
	right:15px;
	top:-8px;
	padding:8px 8px 2px 8px;
	background: #424b54;
	border-radius:.7em;
	opacity: 0.8;
	box-shadow:0 0 8px #eee;
	color:#eee
}
#copy a {
	color:#ccc;
	text-decoration:none
}
#copy a:hover {
	color:#fff
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	opacity: .8;		
}