body {
	color:#eee;
	background: #4D5B69;
}
h4 {
	float: left;
	margin: 5px 20px 5px 10px;
}
#map {
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(220,230,240,1);	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.leaflet-control-zoom.leaflet-bar a {
	color: #4D5B69;
}
.leaflet-control-filelayer.leaflet-bar a:first-child,
.leaflet-control-down.leaflet-bar a:first-child {
	background: #fff;
	border-radius: 4px;
	border-radius: 4px;
	font-size: 18px;
	color: #4D5B69;
}

.leaflet-control-stats {
	color: #323C45;
	font-size: 20px;
	text-shadow: 1px 1px 2px #fff;
}


.leaflet-left.leaflet-bottom .leaflet-control-slider {
	margin: 0;
}
.leaflet-control-slider {
	background: rgba(220,230,240,0.8);
	box-shadow: 0 1px 5px rgba(0,0,0,0.65);	
	width: 100%;
	padding: 10px 20px;
}
.slider-handle {
	opacity: 1;
	background: #4D5B69;
}
.grumble-text .outer {
	color: #fff;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: bold;
	text-transform: capitalize;
}
.grumble-text .fa {
	font-size: 1.5em;
	line-height: 1.5em;
}
.leaflet-sidebar {
	height: auto;
	bottom: 40px;
	top:5px;
}
.leaflet-sidebar a.close {
	opacity: 1;
	top:1px;
	right:auto;
	left: -10px;
	font-size: 20pt;
	height: 23px;
	width: 23px;
	/*border: 1px solid #ccc;*/
	background: rgba(220,230,240,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.65);	
	color: #4D5B69;
}
#comments {
	padding: 8px;
	overflow-y:auto;
	background: rgba(220,230,240,1);
	color: #4D5B69;
	box-shadow: 0 1px 4px rgba(0,0,0,0.6);	
}
#social {
	position:fixed;
	z-index:800;
	right:220px;
	top:0;
	padding: 4px;
}
#social .fb-like {
	line-height: 12px
}
#copy {
	position:fixed;
	z-index:1000;
	right:30px;
	top:-8px;
	padding:8px 8px 2px 8px;
	background: #424b54;
	border-radius:.7em;
	opacity: 0.8;
	box-shadow:0 0 8px #eee;
	color:#eee
}
#copy a {
	color:#ccc;
	text-decoration:none
}
#copy a:hover {
	color:#fff
}
#ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	opacity: .8;		
}